{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}

<div class="m-5" style="background-image: {{country_data.flags.png}};">
  <h1>Information {{country_data.name.common }}</h1>

  <table class="table table-success">
    <tr>
      <th>Header</th>
      <th>Data</th>
    </tr>
    <tr class="table-success">
      <td>Capital</td>
      <td>{{country_data.capital[0]}}</td>
    </tr>
    <tr>
      <td>Currency</td>
      <td>{{country_data.currencies.name}}</td>
    </tr>
  </table>
  <div>
    <img src="{{country_data.flags.png}}" />
  </div>
</div>

{% endblock %}
